*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.form {
  background-color: lightgray;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.heading{
  font-size: 2.5rem;
  color: brown;
  text-align: center;
  margin:20px ;
  text-decoration: underline;
}

h2{
  margin: 10px 700px 0 20px;
}

input{
  margin: 0 20px;
  padding: 8px;
  width: 50%;
  border-radius: 5%;
  border-color: #d08787af;
}

button{
  padding: 10px 15px;
  margin: 20px;
  background-color: brown;
  color: #ffffff;
  border-radius: 10%;
  border-color: #ffffffaf;
  width: 50%;
}

.backend{
  background-color: bisque;
  padding: 40px 100px;
}


