.product{
  margin:10px;
  background-color: rgb(174, 173, 171);
  width: fit-content;
  padding: 20px;
}

.user{
  margin:20px;
  background-color: rgba(145, 76, 209, 0.921);
  width: fit-content;
  padding: 15px;
}